{% extends 'base.html' %}

{% block conteudo %}
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-7">
                <div class="justify-content-center justify-content-md-start mb-3 mb-md-0">
                    <form class="ml-3 d-inline-block" action="">
                        <select class="form-select form-select-sm">
                            <option>Ordenar pelo nome</option>
                            <option>Ordenar pelo maior preço</option>
                            <option>Ordenar pelo menor preço</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="col-12 col-md-5">
                <form class="d-flex flex-row-reverse justify-content-center justify-content-md-start" action="">
                    <div class="input-group input-group-sm">
                        <input class="form-control" placeholder="Digite aqui o que procura" type="text">
                        <button class="btn btn-danger">
                            Buscar
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
        </div>
        <hr class="mt-3">
        <div class="row">
            {% for Produto in produtos %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch mb-3">
                <div class="card text-center bg-light-">
                    <img src="media/{{ Produto.imagem }}" alt="Imagem do produto">
                    <div class="card-header">
                        R$ {{ Produto.valor_produto }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Pneu</h5>
                        <p class="card-text">Marca: {{ Produto.marca.nome }}  perfil: {{ Produto.perfil }}, largura: {{ Produto.largura }}, tamanho do aro: {{ Produto.tamanho }}</p>
                    </div> 
                    <div class="card-footer">
                        <form class="d-block" action="">
                            <button class="btn btn-info">
                                Add ao serviço
                            </button>
                            <small class="text-success"><br> {{ Produto.quantidade }} peças em estoque <br></small>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-12 col-md-7">
        <div class="d-flex flex-row justify-content-center">
            <nav class="d-inline-block">
                <ul class="pagination pagination-sm my-0">
                    <li class="page-item disabled">
                        <button class="page-link">1</button>
                    </li>
                    <li class="page-item">
                        <button class="page-link">2</button>
                    </li>
                    <li class="page-item">
                        <button class="page-link">3</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}